.app .sapMPanelHeadingDiv #__title0-inner{
    font-size: 1.5rem;
}

.app .sapMTableTHead th span{
    font-weight: bold;
    font-size: 1rem;
}

.sapMObjectAttributeTitle {
    font-weight: bold !important;
}

.app .objectFitCover {
    object-fit: cover;
}

.app .employeeName {
    font-size: 1.25rem;
    font-weight: bold;
}

.app .employeeCategory {
    font-size: 1rem;
}